@use '../tokens/window-class.scss' as window;
@use 'sass:map';

.container {
  padding: 16px;

  &__wrapper {
    display: flex;
    justify-content: center;

    @media (min-width: map.get(window.$screens, 'medium')) {
      margin-left: 80px;
    }
  }
}

.header {
  background-color: rgb(var(--md-sys-color-surface-container));
  color: rgb(var(--md-sys-color-on-surface-container));
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  row-gap: 8px;
  width: 100%;
  text-align: center;
  max-width: 1024px;
}
