@mixin pallete {
  --md-ref-palette-neutral6: #141218;
  --md-ref-palette-neutral10: #1d1b20;
  --md-ref-palette-neutral12: #211f26;
  --md-ref-palette-neutral90: #e6e0e9;
  --md-ref-palette-neutral94: #f3edf7;
  --md-ref-palette-neutral98: #fef7ff;
  --md-ref-palette-neutral-variant30: #49454f;
  --md-ref-palette-neutral-variant80: #cac4d0;

  --md-ref-palette-secondary10: #1d192b;
  --md-ref-palette-secondary30: #4a4458;
  --md-ref-palette-secondary90: #e8def8;
}
